<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgriAlert </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static  'images/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}" />
    <meta name="description" content="AgriAlert" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&amp;family=Rubik:ital,wght@0,300..900;1,300..900&amp;display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-select/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/animate/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/icofont/icofont.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/jquery-ui/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/jarallax/jarallax.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/jquery-magnific-popup/jquery.magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.pips.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/tiny-slider/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/alefox-icons/style.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/css/owl.theme.default.min.css' %}" />

    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'css/alefox.css' %}" />
    <style>
        .spinner {
            display: none;
            width: 50px;
            height: 50px;
            border: 5px solid lightgray;
            border-top: 5px solid blue;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            margin: 20px auto;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <section class="page-header">
            <div class="page-header__shape-left"></div>
            <div class="page-header__shape-right"></div>
            <div class="page-header__bg"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title bw-split-in-down">Products Details</h2>
                <ul class="alefox-breadcrumb list-unstyled">
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="product-details">
            <div class="container">
                <!-- /.camera capturing start -->
                <div class="row">
                    <div class="col-lg-6 col-xl-6 wow fadeInLeft" data-wow-delay="200ms">
                        <div class="product-details__gallery">
                            <div class="product-details__carousel alefox-slick__carousel">
                                <div class="item">
                                    <div class="product-details__gallery__image">
                                        <img id="scannedImage" src="{% static 'images/products/product-d-1-4.png' %}" alt="alefox">
                                        <a class="img-popup" href="{% static 'images/products/product-d-1-4.png' %}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 wow fadeInRight" data-wow-delay="300ms">
                        <div class="product-details__content">
                            <div class="product-details__qty">
                                <div class="product-details__buttons">
                                    <a href="#" class="alefox-btn" id="openCamera">
                                        <span class="alefox-btn__item"></span>
                                        <span class="alefox-btn__item"></span>
                                        <span class="alefox-btn__item"></span>
                                        <span class="alefox-btn__item"></span>
                                        Scan Image
                                    </a>
                                    <form method="post" enctype="multipart/form-data" id="uploadForm">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input type="file" name="image" id="imageInput" accept="image/*" style="display:none;">
                                        <a href="#" class="alefox-btn" id="uploadImage">
                                            <span class="alefox-btn__item"></span>
                                            <span class="alefox-btn__item"></span>
                                            <span class="alefox-btn__item"></span>
                                            <span class="alefox-btn__item"></span>
                                            Upload Image
                                        </a>
                                        <button type="submit" class="alefox-btn" id="submitForm" style="display:none;">
                                            Submit
                                        </button>
                                    </form>
                                    <div class="spinner" id="spinner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="camera" style="display:none;">
                        <video id="video" width="640" height="480" autoplay></video>
                        <button id="snap">Snap Photo</button>
                        <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
                    </div>
                </div>
        
                <!-- Display the uploaded image and prediction result -->
                {% if prediction %}
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Prediction Result: {{ prediction }}</h2>
                    </div>
                </div>
                {% endif %}
        
                

            
                <!-- camera capturing end -->

               
                <!-- /.product-description -->
                <!-- /.product-comment -->
                <!-- /.product-comment -->
                <!-- /.product-comment-form -->
                <div class="product-details__form wow fadeInUp" data-wow-delay="500ms">
                    <h3 class="product-details__form-title">Add a Review</h3>
                    <div class="product-details__form-ratings">
                        <p class="product-details__form-ratings__label">Rate this product?</p>
                        <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                    </div><!-- review-ratings -->
                    <form class="comments-form__form contact-form-validated product-details__form__form form-one">
                        <div class="form-one__group">
                            <div class="form-one__control form-one__control--full">
                                <textarea name="message" placeholder="Write  a message"></textarea><!-- /# -->
                            </div><!-- /.form-one__control -->
                            <div class="form-one__control">
                                <input type="text" name="name" placeholder="Your name">
                            </div><!-- /.form-one__control -->
                            <div class="form-one__control">
                                <input type="email" name="email" placeholder="Email address">
                            </div><!-- /.form-one__control -->
                            <div class="form-one__control form-one__control--full">
                                <button type="submit" class="alefox-btn">
                                    <span class="alefox-btn__item"></span>
                                    <span class="alefox-btn__item"></span>
                                    <span class="alefox-btn__item"></span>
                                    <span class="alefox-btn__item"></span>
                                    Submit Review
                                </button>
                            </div><!-- /.form-one__control -->
                        </div><!-- /.form-one__group -->
                    </form>
                    <div class="result"></div>
                </div>
                <!-- /.product-comment-form -->
            </div>
        </section>
        <!-- Products End -->

        <footer class="main-footer background-black">
            <div class="main-footer__bg background-black" style="background-image: url(assets/images/backgrounds/footer-bg-1-1.jpg);"></div>
            <!-- /.main-footer__bg -->
            
            <div class="main-footer__bottom">
                <div class="container">
                    <div class="main-footer__bottom__inner">
                        <p class="main-footer__copyright">
                            &copy; <span class="dynamic-year"></span>AgriAlert.
                        </p>
                    </div><!-- /.main-footer__inner -->
                </div><!-- /.container -->
            </div><!-- /.main-footer__bottom -->
        </footer><!-- /.main-footer -->

    </div><!-- /.page-wrapper -->

    <!-- /.mobile-nav__wrapper -->
    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="alefox-btn">
                    <span><i class="icon-magnifying-glass"></i></span>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->
    <!-- Sidebar One Start -->
    
    <!-- Sidebar One Start -->

    <!-- back-to-top-start -->
    <a href="#" class="scroll-top">
        <svg class="scroll-top__circle" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </a>
    <!-- back-to-top-end -->

    <script src="{% static 'vendors/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'vendors/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-appear/jquery.appear.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-circle-progress/jquery.circle-progress.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-validate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'vendors/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'vendors/tiny-slider/tiny-slider.js' %}"></script>
    <script src="{% static 'vendors/wnumb/wNumb.min.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendors/wow/wow.js' %}"></script>
    <script src="{% static 'vendors/imagesloaded/imagesloaded.min.js' %}"></script>
    <script src="{% static 'assets/vendors/isotope/isotope.js' %}"></script>
    <script src="{% static 'vendors/slick/slick.min.js' %}"></script>
    <script src="{% static 'vendors/countdown/countdown.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-circleType/jquery.circleType.js' %}"></script>
    <script src="{% static 'vendors/jquery-lettering/jquery.lettering.min.js' %}"></script>
    <script src="{% static 'vendors/progress-bar/knob.js' %}"></script>
    <!-- gsap js -->
    <script src="{% static 'vendors/gsap/gsap.js' %}"></script>
    <script src="{% static 'vendors/gsap/scrolltrigger.min.js' %}"></script>
    <script src="{% static 'vendors/gsap/splittext.min.js' %}"></script>
    <script src="{% static 'vendors/gsap/alefox-split.js' %}"></script>
    <!-- template js -->
    <script src="{% static 'js/alefox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- image scanning and uploading -->
    <script>
        document.getElementById('openCamera').addEventListener('click', function() {
            document.getElementById('camera').style.display = 'block';
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                document.getElementById('video').srcObject = stream;
            })
            .catch(function(err) {
                console.log("An error occurred: " + err);
            });
        });

        document.getElementById('snap').addEventListener('click', function() {
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            context.drawImage(document.getElementById('video'), 0, 0, 640, 480);
            var dataURL = canvas.toDataURL('image/png');
            
            // Update the src of the scannedImage img element
            document.getElementById('scannedImage').src = dataURL;

            // Hide the camera section after capturing the image
            document.getElementById('camera').style.display = 'none';
        });

        // Trigger file input click when "Upload Image" button is clicked
        document.getElementById('uploadImage').addEventListener('click', function() {
            document.getElementById('imageInput').click();
        });

        // Handle file selection and update the image preview
        document.getElementById('imageInput').addEventListener('change', function(event) {
            var file = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('scannedImage').src = e.target.result;
            };
            reader.readAsDataURL(file);

            // Automatically submit the form after file is selected
            document.getElementById('submitForm').click();
        });
    </script>
</body>
</html>